<!DOCTYPE html>
<html lang="fa" dir="rtl">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      {% include 'partials/header.html' %}
      <title>{% block title %}{% endblock %}</title>
   </head>
   <body>
      {% if not request.path == '/account/login/' and not request.path == '/account/sign-up/' %}
         {% include 'partials/navigations.html' %}
      {% endif %}
      {% include 'partials/message.html' %}
      {% block content%}{% endblock %}
      {% include 'partials/footer.html' %}
   </body>
</html>