:root{
    /* colors */
    --primary-blue : #18A0FB ;
    --primary-white :#fff ;
    --primary-gray:#ccc ;
    --primary-red : #FF6A6A;
    --primary-text : #080a38; 

    /* product card variable  */
    --card-shadow-gradient : linear-gradient(359deg, rgba(0, 0, 0, 0.88) 2.56%, rgba(0, 0, 0, 0.04) 47.34%, rgba(217, 217, 217, 0.00) 100%);
    

    /* shadow */
    --shadow-header-filter: drop-shadow(8px 8px 15px rgba(0, 0, 0, 0.39));
    --shadow-pro-box:0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}