{% extends 'parents/main.html' %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
    <h1 class="text-center" style="color: red;">Edit Profile</h1>
    <br><br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-1"></div>
        <div class="col-md-6"  style="border: 5px; border-style: double;">
            <form action="" method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <h6>Username:<strong> {{ editUser.username }}</strong></h6>
                <h6>Firstname:<strong> {{ editUser.first_name }}</strong></h6>
                <h6>Lastname:<strong> {{ editUser.last_name }}</strong></h6>
                {% if profileImage %}
                    <h6>Photo:<strong> <img style="width: 100px; height: 100px; margin-left: 20px;" 
                                src="{{ profileImage.url }}" alt=""></strong></h6> 
                    <h6>{{ editProfile.profileImage }}</h6>
                {% else %}
                    <h6>Photo:<strong> {{ editProfile.profileImage }}</strong></h6>
                {% endif %}
                <a href="{% url 'account:profile' %}" class="btn btn-warning" 
                                    style="margin-left: 130px; width: 150px;">Cancel</a>
                <input style="width: 150px;" type="submit" value="Save" class="btn btn-success">
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>  
{% endblock %}