{% extends 'parents/main.html' %}
{% load static %}
{% block title %}Profile{% endblock %}

{% block content %}
<main class="profile-to-show">
    {% if profileImage %}
        <img src="{{ profileImage.url }}" alt="" class="profile-photo" />
    {% else %}
        <img src="{% static 'asets/img/userProfile.png' %}" alt="" class="profile-photo" />
    {% endif %}

    <form action="" class="profile-toshow-form" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <table class="profile-table">
            <tr>
                <td><label for="">نام:</label></td>
                <td>{{ editUser.first_name }}</td>
            </tr>
            <tr>
                <td><label for="">نام خانوادگی:</label></td>
                <td>{{ editUser.last_name }}</td>
            </tr>
            <tr>
                <td><label for="">ایمیل:</label></td>
                <td>{{ editUser.email }}</td>
            </tr>
            <tr class="change-profile-img">
                <td><label for="">عکس پروفایل:</label></td>
                <td class="change-profile-img-input">
                    {% comment %} <input
                        accept=".jpg,.jpeg,.png,.PNG,.JPG,.JPEG"
                        type="file"
                        name="profile-img"
                        id="profile-img"
                        class="profile-img"
                    /> {% endcomment %}
                    {{ editProfile.profileImage }}
                    <a href="{% url 'account:delete_photo' %}" class="delete-img">حذف عکس</a>
                </td>
            </tr>
        </table>
        <div class="profile-edit-btns">
            <button class="profile-edit-edit-btn">ویرایش</button>
            <button class="profile-edit-done-btn">اعمال تغییرات</button>
            <button class="profile-edit-cancel-btn">لغو</button>
        </div>
    </form>
</main>
<script type="module" src="{% static 'asets/JS/profile.js' %}"></script>
{% endblock %}