:root{
    /* colors */
    --primary-blue : #f97316 ;
    --primary-white :#fff ;
    --primary-gray:#ccc ;
    --primary-red : #FF6A6A;
    --primary-red-hover: #af4848;
    --primary-text : #080a38; 
    --hover-blue : #3b82f6;
    --active-blue : #2563eb;


    /* product card variable  */
    --card-shadow-gradient : linear-gradient(359deg, rgba(0, 0, 0, 0.88) 2.56%, rgba(0, 0, 0, 0.04) 47.34%, rgba(217, 217, 217, 0.00) 100%);
    

    /* shadow */
    --shadow-header-filter: drop-shadow(8px 8px 15px rgba(0, 0, 0, 0.39));
    --shadow-pro-box:0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --shadow-product:4px 4px 4px 0px rgba(0, 0, 0, 0.25);

    --border-blue:1px solid var(--primary-blue);

    
}