<!DOCTYPE html>
<html lang="en" dir="rtl">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Not Found</title>
        {% include 'partials/header.html' %}
    </head>
    <body>

        <div class="four-O-four">
            <h1 class="f-o-f-heading">صفحه پیدا نشد!</h1>
            <section class="error-container">
                <span class="four"
                    ><span class="screen-reader-text"></span></span
                >
                <span class="zero"
                    ><span class="screen-reader-text"></span></span
                >
                <span class="four"
                    ><span class="screen-reader-text"></span></span
                >
            </section>
            <div class="buttons-con">
                <div class="action-link-wrap">
                    <a
                        onclick="history.back(-1)"
                        class="link-button link-back-button"
                        >بازگشت به عقب</a
                    >
                    <a href="{% url 'book:home' %}" class="link-button"> خانه </a>
                </div>
            </div>
        </div>
    </body>
</html>