{% load static %}
<!-- navbar -->
<nav>
  <div class="nav">
     <ul class="nav-ul">
        <li><a href="{% url 'book:home' %}">خانه</a></li>
        <li><a href="{% url 'book:allAuthors' %}">نویسندگان</a></li>
        <li><a href="{% url 'book:allGenres' %}">ژانر</a></li>
        <li><a href="{% url 'book:about' %}">درباره ما</a></li>
     </ul>
  </div>
  <a href="{% url 'book:home' %}">
     <img src="{% static 'asets/img/logo.png' %}" alt="logo" class="logo" />
  </a>
  <div class="navBtns">
     <a href="{% url 'account:register' %}" class="sign-in">ثبت نام</a>
     <a href="{% url 'account:login' %}" class="login">ورود</a>
  </div>
</nav>