{% extends 'parents/main.html' %}
{% load static %}
{% block title %}Detail{% endblock %}

{% block content %}
<main class="main-book container">
    <div class="book-img">
        {% if bookDetail.bookImage %}
            <img src="{{ bookDetail.bookImage.url }}" alt="image/png" />
        {% else %}
            <img src="{% static 'asets/img/book1.jpg' %}" alt="image/png" />
        {% endif %}
    </div>
    <div class="detail-book">
        <h3>{{ bookDetail.name }}</h3>

        <div class="book-genaut">
            <span class="book-aut">{{ bookDetail.author.first_name|first }}. {{ bookDetail.author.last_name }}</span>
            <span class="book-gen">{{ bookDetail.genre.first }}</span>
        </div>

        <div class="book-sum">
            <h4>خلاصه:</h4>
            <p>{{ bookDetail.summry }}</p>
        </div>
        <div class="book-btns">
            <a href="{% url 'book:addinstance' bookDetail.pk %}" class="book-borrow-btn">قرض گرفتن</a>
            <a href="{% url 'book:home' %}" class="book-back-btn">بازگشت</a>
        </div>
    </div>
</main>
{% endblock %}