{% extends 'parents/main.html' %}

{% block title %}Edit-Detail-Book{% endblock %}

{% block content %}
    <main class="admin-add-book container">
        <h3>ویرایش کردن کتاب</h3>
        <div class="admin-add-book-container">
            <div class="add-book-det">
                <form action="" method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <table class="table-add-book-admin">
                        <tr>
                            <td>
                                <label for="add-book-name">نام کتاب:</label>
                            </td>
                            <td>
                                {% comment %} <input
                                    type="text"
                                    name=""
                                    id="add-book-name"
                                /> {% endcomment %}
                                {{ editForm.name }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="add-book-sumery"
                                    >خلاصه کتاب :
                                </label>
                            </td>
                            <td>
                                {% comment %} <textarea
                                    name=""
                                    id="add-book-sumery"
                                    cols="30"
                                    rows="10"
                                ></textarea> {% endcomment %}
                                {{ editForm.summry }}
                            </td>
                        </tr>
                        <tr>
                            <td><label for="add-book-gen">ژانر:</label></td>
                            <td>
                                {% comment %} <select
                                    name="add-book-gen"
                                    id="add-book-gen"
                                >
                                    <option value="val1">مقدار 1</option>
                                    <option value="val2">مقدار 2</option>
                                    <option value="val3">مقدار 3</option>
                                </select> {% endcomment %}
                                {{ editForm.genre }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="add-book-aut">نویسنده:</label>
                            </td>
                            <td>
                                {% comment %} <select
                                    name="add-book-aut"
                                    id="add-book-aut"
                                >
                                    <option value="val1">مقدار 1</option>
                                    <option value="val2">مقدار 2</option>
                                    <option value="val3">مقدار 3</option>
                                </select> {% endcomment %}
                                {{ editForm.author }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="add-book-img">عکس کتاب:</label>
                            </td>
                            <td>
                                <input
                                    accept=".jpg,.jpeg,.png,.PNG,.JPG,.JPEG"
                                    type="file"
                                    name="add-book-img"
                                    id="add-book-img"
                                    class="add-book-img"
                                />
                            </td>
                        </tr>
                    </table>
                    <div class="add-book-btns-det">
                        <button class="add-book-btns-add">
                            ویرایش
                        </button>
                        <button class="add-book-btns-cancel">لغو</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}