{% extends 'parents/main.html' %}
{% load static %}
{% load poll_extras %}
{% block title %}All-Book-Instance{% endblock %}

{% block content %}

<main class="instans">
    <h3>کتاب های قرض گرفته شده</h3>

    <!-- container  -->
    <div class="instans-books">

        {% for bookInstance in bookInstances %}
        <!-- each books  -->
        <div class="ins-book">
            <div class="ins-book-img">
                {% if bookInstance.book.bookImage %}
                    <img src="{{ bookInstance.book.bookImage.url }}" alt="" />
                {% else %}
                    <img src="{% static 'asets/img/book1.jpg' %}" alt="" />
                {% endif %}
            </div>
            <div class="ins-book-detail">
                <h4>{{ bookInstance.book }}</h4>
                <div class="ins-gen-aut">
                    <span class="ins-aut">{{ bookInstance.book.author.first_name|first }}. {{ bookInstance.book.author.last_name }}</span>
                    <span class="ins-gen">{{ bookInstance.book.genre.first }}</span>
                </div>
                <div class="instans-return">
                    <span class="instans-return-text"
                        >تاریخ برگرداندن:
                    </span>
                    <span class="instans-return-date">{{ bookInstance.due_back | show_jalali_date }}</span>
                </div>
            </div>
        </div>
        <!-- end of each books  -->
        {% endfor %}
    </div>
    <!-- end of container  -->
</main>
{% endblock %}